<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content class="mat-typography">

  <div [innerHTML]="messageBody"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Okay, Proceed</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
