<p>one works!</p>
<app-data-table  (actionTriggered)='takeAction($event)' [columnHeader]="columnHeader"  [tableData]="tableData" > </app-data-table>

<app-dialog  (actionTriggered)='takeDialogAction($event)' ></app-dialog>
