.shared-data-table {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
table {
  width: 100%;
}
mat-form-field {
  text-align: right;
  float: right;
}
th.mat-sort-header-sorted {
  color: black;
}
.action-item {
  float: left;
  padding-right: 8px;
}
.delete-action-item {
  float: left;
}
.delete {
  color: rgb(194, 23, 23)
}
.edit {
  color: blue;
}
.add {
  color: green;
}
