<section class="shared-data-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search or Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnHeader[tableData]}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="tableData == 'action';else other_content">
          <div *ngFor="let actionItem of element[tableData]">
            <div *ngIf="actionItem.edit" class="action-item" matTooltip="Edit the item"  (click)="printData('delete', element)">
              <i class="material-icons edit"> edit </i>
            </div>
            <div *ngIf="actionItem.add" class="action-item" matTooltip="Add sub document"  (click)="printData('delete', element)">
              <i class="material-icons add"> library_add </i>
            </div>
            <div *ngIf="actionItem.public" class="action-item" matTooltip="Make it publicly visible --- ready to use"  (click)="printData('delete', element)">
              <i class="material-icons public"> visibility </i>
            </div>
            <div *ngIf="actionItem.private" class="action-item" matTooltip="Hide From public --- not ready to use"  (click)="printData('delete', element)">
              <i class="material-icons private"> visibility_off </i>
            </div>
            <div *ngIf="actionItem.delete" class="action-item delete-action-item" matTooltip="Delete the item" (click)="printData('delete', element)">
                <i class="material-icons delete"> delete_sweep </i>
              </div>
          </div>
          <!-- {{tableData}} -->
        </div>
        <ng-template #other_content>{{element[tableData] }}</ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25, 50, 100, 500, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</section>
